/* styles.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .main {
    text-align: center;
    padding: 20px;
   
   
  }
  
  h3 {
    margin: 0;
    font-size: 24px;
  }
  .App {
    text-align: center;
  }
  
  .navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
  }
  
  .login-card {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-card h2 {
    text-align: center;
  }
  
  .login-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-card button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  